################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SpinGame/FileContentIndex
/.vs/SpinGame/v17
/.vs
