<div class="main-container">
    <div class="input-section">
        <div class="input-container">
            <label for="nameInput">Enter Names: </label>
            <input id="nameInput" [(ngModel)]="newName" placeholder="Add name" />
            <button (click)="addName()">Add Name</button>
        </div>

        <div class="names-list">
            <ul>
                <li *ngFor="let name of names; let i = index">
                    {{ name }}
                    <button class="delete-button" (click)="deleteName(i)">Delete</button>
                </li>
            </ul>
        </div>
    </div>


    <div class="circle-container">
        <div class="spin-container">
            <button (click)="spin()">Spin</button>
        </div>

        <div class="circle">
            <div class="center-circle"></div>

            <div class="arrow" [ngStyle]="{'transform': 'rotate(' + rotationDegrees + 'deg)'}"></div>

            <div *ngFor="let name of names; let i = index" class="name-label" [ngStyle]="getDegreePosition(i, name)">
                {{ name }}
            </div>
        </div>

        <div class="question-container" *ngIf="!selectedQuestion">
            <!-- Placeholder message while spinning -->
            <p>Spin stuff to get questions and stuff, also Astro is sexy</p>
        </div>

        <div class="question-container" *ngIf="selectedQuestion">
            <!-- Show the question after the spin completes -->
            <p>{{ selectedAsker }} must ask {{ selectedResponder }}:</p>
            <p class="question-text">{{ selectedQuestion }}</p>
        </div>
    </div>

    <div class="question-input-section">
        <label for="questionInput">Enter a New Question:</label>
        <input id="questionInput" style="margin-left: 2px;" [(ngModel)]="newQuestion" placeholder="Add a question" />
        <button (click)="addQuestion()">Add Question</button>

        <div class="controls">
            <button (click)="markAllAsReadExceptOne()">Mark All as Read Except One</button>
            <button (click)="markAllAsUnread()">Mark All as Unread</button>
        </div>

        <p>Remaining Questions: {{ remainingQuestions }}</p>

    </div>

</div>